ogs-data.db filter=lfs diff=lfs merge=lfs -text
egf-data.db filter=lfs diff=lfs merge=lfs -text
aga-data.db filter=lfs diff=lfs merge=lfs -text
aga_test_data.db filter=lfs diff=lfs merge=lfs -text
aga_test_data_results.db filter=lfs diff=lfs merge=lfs -text
