
head, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.DataSetDescription {
    h3 {
        font-size: 14pt;
        text-align: center;
    }

    b {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}

.StatsContainer {
    display: flex;
    flex-direction: row;
}

.Stats {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 1rem;
}

#Main {
    display: flex;
    align-items: center;
    flex-direction: column;

    .configuration {
        margin: 2rem;
    }
}

.SizeSpeedHandicapSelector {
    display: flex;
    flex-align: top;

    dl {
        display: inline-block;
    }
}


